.container h2 {
  margin-bottom: 5px;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.cards h2 {
  display: block;
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.3);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  width: 200px;
}

.card img {
  height: 100px;
}

.card h3 {
  display: block;
}

.card p {
  display: block;
  font-size: 0.8em;
}
